<div class="container mt-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h2 class="text-center">{{ 'RESERVAS.TITULO_PRINCIPAL' | translate }}</h2>
    </div>

    <div class="col-12 mb-4">
      <div class="filter-section mt-3">
        <div class="row">
          <div class="col-md-6">
            <label for="priceRange" class="form-label">
              {{ 'RESERVAS.FILTROS.RANGO_PRECIOS' | translate }}
            </label>
            <mat-slider
              id="priceRange"
              thumbLabel
              [min]="minPrice"
              [max]="maxPrice"
              [step]="50"
            >
              <input matSliderThumb [(ngModel)]="selectedPrice" (input)="filterRooms()" />
            </mat-slider>
            <div class="d-flex justify-content-between mt-1">
              <span>{{ minPrice | currency }}</span>
              <span>{{ selectedPrice | currency }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <label for="startDate" class="form-label">
              {{ 'RESERVAS.FILTROS.RANGO_FECHAS' | translate }}
            </label>
            <div class="d-flex gap-3">
              <mat-form-field appearance="fill" class="w-50">
                <mat-label>{{ 'RESERVAS.FILTROS.DESDE' | translate }}</mat-label>
                <input matInput [matDatepicker]="startPicker" [min]="minDate" [(ngModel)]="startDate" />
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="fill" class="w-50">
                <mat-label>{{ 'RESERVAS.FILTROS.HASTA' | translate }}</mat-label>
                <input matInput [matDatepicker]="endPicker" [min]="startDate || minDate" [(ngModel)]="endDate" />
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 text-center">
            <button mat-raised-button color="primary" (click)="loadAvailableRooms()">
              {{ 'RESERVAS.FILTROS.BOTON_BUSCAR' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="scrollable-container">
        <div *ngFor="let cuarto of paginatedCuartos" class="col-12 mb-4">
          <div class="room-card d-flex flex-column flex-lg-row align-items-start">
            <div class="room-image">
              <img
                [src]="cuarto.codigoImagenCuarto"
                [alt]="'DETALLE_CUARTO.' + cuarto.detalleCuarto | translate"
                class="img-fluid rounded"
              />
            </div>
            <div class="room-info ms-lg-4 mt-3 mt-lg-0">
              <h3 class="room-title">
                {{ 'TIPOS_CUARTO.' + cuarto.tipoCuartoDtoFk.nombreTipoCuarto | translate }}
              </h3>
              <p class="room-details">
                {{ cuarto.numeroCuarto }} &bull;
                {{ 'DETALLE_CUARTO.' + cuarto.detalleCuarto | translate }}
              </p>
              <ul class="room-features">
                <li *ngIf="cuarto.estadoCuartoDtoFk.nombreEstadoCuarto === 'LIBRE'">
                  {{ 'RESERVAS.CARTAS.LIBRE' | translate }}
                </li>
                <li>
                  {{ 'RESERVAS.CARTAS.INCLUYE' | translate }}
                </li>
              </ul>
              <p class="room-price">
                {{ cuarto.valorNocheCuarto | currency }}
                {{ 'RESERVAS.CARTAS.POR_NOCHE' | translate }}
              </p>
              <p class="room-disclaimer">
                {{ 'RESERVAS.CARTAS.TARIFA' | translate }}
              </p>
              <button
                mat-raised-button
                color="primary"
                class="btn btn-success mt-2"
                (click)="guardarReserva(cuarto.codigoCuarto)"
                [disabled]="cuarto.estadoCuartoDtoFk.nombreEstadoCuarto !== 'LIBRE'"
              >
                {{ 'RESERVAS.CARTAS.BOTON_RESERVAR' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator
    [pageSize]="pageSize"
    [pageSizeOptions]="[2, 4, 6]"
    [length]="filteredCuartos.length"
    (page)="paginateRooms($event)"
  >
  </mat-paginator>
</div>
