/* Contenedor del carrusel */
.carousel {
    max-height: 70vh;
  }
  
  /* Imágenes del carrusel */
  .carousel-inner img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  /* Controles del carrusel */
  .carousel-control-prev mat-icon,
  .carousel-control-next mat-icon {
    font-size: 2rem;
  }
  
  /* Contenedor principal de la sección de texto */
  .container {
    max-width: 1200px;
  }
  
  /* Sección de introducción */
  .text-center {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  