<div class="language-selector text-end p-2">
  <label for="language-select" class="form-label me-2">{{ 'languageSelector.label' | translate }}</label>
  <select id="language-select" class="form-select d-inline w-auto" (change)="onChangeLanguage($event)">
    <option value="es" [selected]="currentLang === 'es'">{{ 'languageSelector.options.es' | translate }}</option>
    <option value="en" [selected]="currentLang === 'en'">{{ 'languageSelector.options.en' | translate }}</option>
  </select>
</div>

<ngx-spinner 
  bdColor="rgba(0,0,0,0.8)" 
  size="medium" 
  color="#ffffff" 
  type="square-jelly-box" 
  [fullScreen]="true">
  <p>{{ 'spinner.loading' | translate }}</p>
</ngx-spinner>

<router-outlet></router-outlet>
