<div class="container mt-4">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h2 class="card-title text-center">{{ 'FACTURACIONES.TITULO_PRINCIPAL' | translate }}</h2>
      <div class="scroll-container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col" *ngFor="let facturacion of facturaciones">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">
                  {{ 'FACTURACIONES.CAMPOS.CODIGO' | translate }}: {{ facturacion.codigoFacturacion }}
                </h5>
                <p class="card-text">
                  {{ 'FACTURACIONES.CAMPOS.FECHA_CREACION' | translate }}: 
                  {{ facturacion.fechaCreacionFacturacion | date: 'short' }}
                </p>
                <p class="card-text">
                  {{ 'FACTURACIONES.CAMPOS.ESTADO' | translate }}: 
                  <span
                    class="badge"
                    [ngClass]="{
                      'bg-success': facturacion.estadoFacturacion === 'PAGADO',
                      'bg-warning': facturacion.estadoFacturacion === 'PENDIENTE',
                      'bg-danger': facturacion.estadoFacturacion === 'CANCELADO'
                    }"
                  >
                    {{ 'ESTADOS_FACTURACION.' + facturacion.estadoFacturacion | translate }}
                  </span>
                </p>
                <p class="card-text">
                  {{ 'FACTURACIONES.CAMPOS.RESERVA' | translate }}: 
                  {{ facturacion.codigoReservaDtoFk.codigoReserva }}
                </p>
              </div>
              <div class="card-footer text-center">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="descargarPdf(facturacion.urlPdf, facturacion.codigoFacturacion)"
                >
                  {{ 'FACTURACIONES.BOTON_DESCARGAR' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
